# Database Configuration
DB_NAME=thirsttrack
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/thirsttrack

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_FROM=your-email@gmail.com
EMAIL_TO=recipient@gmail.com
EMAIL_PASSWORD=your-app-password

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=1

# Application Configuration
APP_HOST=0.0.0.0
APP_PORT=5001