# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
.env
.venv/
venv/
env/
instance/
db.sqlite3
getraenke.sqlite3

# Flask
*.log

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/build
/frontend/.env
/frontend/.next
/frontend/dist

# Editor/OS
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.bak
*.tmp
*.orig

# Test/coverage
htmlcov/
.coverage
.cache
pytest_cache/

# Misc
*.local
*.pid
*.gz
*.zip
*.tar
*.tgz
*.7z

# Backup files
*~